manifest {
  name            = 'wgd-nextflow'
  author          = 'Brianna Banting'
  homePage        = '.'
  mainScript      = 'main.nf'
  nextflowVersion = '>=23.10.0'
}

// All published results copied not symlinked
workflow.output.mode = 'copy'

// Default parameters for pipeline
params {
  apptainer_dir = "${projectDir}/apptainer"

  working_dir = 'workingDir'
  postdir = 'post_genespace'

  gff_dir = 'gff'
  protein_dir = 'protein'
  cds_dir = 'cds'
  chr_dict_dir = 'chr_dict'
  fasta_dir = 'fasta'

  ext = [
    gff: 'gff3',
    pep: 'pep',
    cds: 'cds',
    fasta: 'fa'
  ]

  orthofinder_bin = 'orthofinder'
  macse_bin = 'macse'
  mafft_bin = 'mafft'
  iqtree_bin = 'iqtree3'
  alerax_bin = 'alerax'
  circos_bin = 'circos'

  start_mode = 'full'
  existing_genespace_wd = null
  existing_orthofinder_dir = null

  force_orthofinder = false
  run_external_orthofinder = true
  use_species_tree_for_orthofinder = false
  orthofinder_analysis_threads = 4

  annotation = [
    run : false,
    tool: 'annevo'
  ]

  annevo = [
    model_path : '',
    batch_size : null,
    extra_args : '',
    cleanup_tmp: true
  ]

  genespace = [
    rawOrthofinderDir: '',
    blkSize: 5,
    orthofinder_in_blk: true
  ]

  require_outgroup_og = true
  collapse_tandems = true
  tandem_max_ord_gap = 2
  array_size = 10000

  alignment_method = 'macse_nt'
  // allowed: 'macse_nt', 'mafft_aa', 'both'

  mafft_opts = '--auto --amino'
  
  iqtree_nt_model = 'MFP'
  iqtree_aa_model = 'MFP'

  use_species_tree_for_alerax = true

  run_alerax = false

  alerax_mpi_ranks = 8
  alerax_mpi_launcher = 'mpirun'
  alerax_mpi_extra_args = ''
  alerax_mpi_n_arg = ''

  alerax = [
    rec_model: 'UndatedDL',
    model_parametrization: 'PER-SPECIES',
    gene_tree_samples: 100
  ]

  run_rediploidisation = false

  rediploidisation = [
    positions_source: 'bed',
    positions: '',
    position_format: 'auto',

    position_has_header: true,
    position_key_column: 'id',
    position_chr_column: 'chr',
    position_start_column: 'start',
    position_end_column: 'end',
    position_species_column: 'genome',

    gene_trees_dir: '',
    genespace_wd: '',

    species_tree_format: 1,
    gene_tree_format: 1,
    tip_separator: '|',
    label_format: 'species_chr_gene',
    copy_mode: 'target_exactly_n',
    required_copies: 2,
    min_tips: 1,
    position_key_type: 'gene',
    cleanup_tmp: true
  ]

  sif_paths = [
    genespace: '',
    macse: '',
    mafft: '',
    iqtree: '',
    alerax: '',
    annevo: '',
    gffutils: '',
    redip: ''
  ]

  containers = [
    annevo: 'ghcr.io/bhban/annevo:1.0',
    gffutils: 'ghcr.io/bhban/gffutils:1.0',
    genespace: 'ghcr.io/bhban/genespace:1.1',
    macse: 'ghcr.io/bhban/macse:1.0',
    mafft: 'ghcr.io/bhban/macse:1.0',
    iqtree: 'ghcr.io/bhban/iqtree:1.0',
    alerax: 'ghcr.io/bhban/alerax:1.0',
    redip: 'ghcr.io/bhban/redip:1.0'
  ]
}

process {
  shell = ['/bin/bash', '-euo', 'pipefail']
  errorStrategy = 'terminate'
  maxRetries = 1
}

trace {
  enabled = true
  file = 'trace.txt'
  overwrite = true
}

timeline {
  enabled = true
  file = 'timeline.html'
  overwrite = true
}

report {
  enabled = true
  file = 'report.html'
  overwrite = true
}

executor {
  queueSize = 10000
}

profiles {
  docker {
    docker.enabled = true
    singularity.enabled = false
    apptainer.enabled = false

    process {
      executor = 'local'

      withName: RUN_ANNEVO {
        cpus = 48
        memory = '128 GB'
        time = '48h'
        container = "docker://${params.containers.annevo}"
      }

      withName: ANNEVO_GFF_TO_FASTA {
        cpus = 4
        memory = '16 GB'
        time = '4h'
        container = "docker://${params.containers.gffutils}"
      }

      withName: PRIMARY_TRANSCRIPT {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "docker://${params.containers.genespace}"
      }

      withName: FINALIZE_REPO_IDS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "docker://${params.containers.genespace}"
      }

      withName: STAGE_GENOMEREPO {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "docker://${params.containers.genespace}"
      }

      withName: PARSE_ANNOTATIONS_BY_SOURCE {
        cpus = 4
        memory = '16 GB'
        time = '8h'
        container = "docker://${params.containers.genespace}"
      }

      withName: MAKE_PARSE_DONE {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "docker://${params.containers.genespace}"
      }

      withName: VALIDATE_PARSE_OUTPUTS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "docker://${params.containers.genespace}"
      }

      withName: VALIDATE_GENESPACE_RESULTS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "docker://${params.containers.genespace}"
      }

      withName: ORTHOFINDER_OR_SKIP {
        cpus = 16
        memory = '128 GB'
        time = '24h'
        container = "docker://${params.containers.genespace}"
      }

      withName: RUN_GENESPACE {
        cpus = 16
        memory = '128 GB'
        time = '24h'
        container = "docker://${params.containers.genespace}"
      }

      withName: PANGENES_PASS_FILTER {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "docker://${params.containers.genespace}"
      }

      withName: COLLAPSE_TANDEMS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "docker://${params.containers.genespace}"
      }

      withName: WRITE_OG_FASTAS {
        cpus = 2
        memory = '8 GB'
        time = '6h'
        container = "docker://${params.containers.genespace}"
      }

      withName: MACSE_ALIGN_OG {
        cpus = 1
        memory = '4 GB'
        time = '6h'
        container = "docker://${params.containers.macse}"
        errorStrategy = 'retry'
        maxRetries = 2
        maxErrors = '-1'
      }

      withName: MACSE_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "docker://${params.containers.macse}"
      }

      withName: IQTREE_NT_OG {
        cpus = 4
        memory = '8 GB'
        time = '8h'
        container = "docker://${params.containers.iqtree}"
      }

      withName: IQTREE_NT_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "docker://${params.containers.iqtree}"
      }

      withName: WRITE_ALERAX_MAPPING {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = null
      }

      withName: WRITE_ALERAX_FAMILIES {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = null
      }

      withName: WRITE_ALERAX_MANIFEST {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = null
      }

      withName: RUN_ALERAX {
        cpus = 32
        memory = '256 GB'
        time = '48h'
        container = "docker://${params.containers.alerax}"
      }

      withName: RUN_ALERAX_RANDOM {
        cpus = 32
        memory = '256 GB'
        time = '48h'
        container = "docker://${params.containers.alerax}"
      }

      withName: ALERAX_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = null
      }

      withName: EXTRACT_REDIP_SPECIES {
        cpus = 1
        memory = '1 GB'
        time = '30m'
        container = "docker://${params.containers.redip}"
      }

      withName: ROOT_GENE_TREE {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "docker://${params.containers.redip}"
      }

      withName: WRITE_BRANCH_DEFS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "docker://${params.containers.redip}"
      }

      withName: CLASSIFY_REDIP_EVENTS {
        cpus = 1
        memory = '8 GB'
        time = '8h'
        container = "docker://${params.containers.redip}"
      }

      withName: MAKE_REDIP_LINKS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "docker://${params.containers.redip}"
      }

      withName: PREP_REDIP_CIRCOS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "docker://${params.containers.redip}"
      }

      withName: PLOT_REDIP_CIRCOS {
        cpus = 1
        memory = '8 GB'
        time = '4h'
        container = "docker://${params.containers.redip}"
      }

      withName: REDIP_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "docker://${params.containers.redip}"
      }
    }
  }

  eddie {
    docker.enabled = false
    singularity.enabled = false
    apptainer.enabled = true

    params.alerax_mpi_extra_args = '--mca ras ^gridengine'
    params.alerax_mpi_n_arg = '-n'

    executor {
      queueSize = 100
      exitReadTimeout = '30 min'
    }
  
    params {
      array_size = 100
    }

    apptainer {
      autoMounts = true
    }

    process {
      executor = 'sge'
      clusterOptions = '-cwd -V -P roslin_macqueen_lab'
      penv = 'sharedmem'

      withName: RUN_ANNEVO {
        cpus = 18
        memory = '72 GB'
        time = '10h'
        queue = 'gpu'
        clusterOptions = '-l gpu=1'
        containerOptions = '--nv'
        container = "file://${params.sif_paths.annevo}"
      }

      withName: ANNEVO_GFF_TO_FASTA {
        cpus = 4
        memory = '16 GB'
        time = '4h'
        container = "file://${params.sif_paths.gffutils}"
      }

      withName: PRIMARY_TRANSCRIPT {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: FINALIZE_REPO_IDS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: STAGE_GENOMEREPO {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: PARSE_ANNOTATIONS_BY_SOURCE {
        cpus = 4
        memory = '16 GB'
        time = '8h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: MAKE_PARSE_DONE {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: VALIDATE_PARSE_OUTPUTS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: VALIDATE_GENESPACE_RESULTS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: ORTHOFINDER_OR_SKIP {
        cpus = 8
        penv = 'sharedmem'
        memory = '64 GB'
        time = '4h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: RUN_GENESPACE {
        cpus = 8
        penv = 'sharedmem'
        memory = '64 GB'
        time = '4h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: PANGENES_PASS_FILTER {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: COLLAPSE_TANDEMS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: WRITE_OG_FASTAS {
        cpus = 2
        memory = '8 GB'
        time = '6h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: MACSE_ALIGN_OG {
        cpus = 1
        memory = '4 GB'
        time = '6h'
        container = "file://${params.sif_paths.macse}"
        errorStrategy = 'retry'
        maxRetries = 2
        maxErrors = '-1'
      }

      withName: MACSE_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.macse}"
      }

      withName: MAFFT_ALIGN_AA {
        cpus = 1
        memory = '8 GB'
        time = '2h'
        container = "file://${params.sif_paths.mafft}"
      }
      
      withName: MAFFT_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.mafft}"
      }
      
      withName: IQTREE_NT_OG {
        cpus = 1
        memory = '8 GB'
        time = '4h'
        container = "file://${params.sif_paths.iqtree}"
      }
      
      withName: IQTREE_NT_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.iqtree}"
      }
      
      withName: IQTREE_AA_OG {
        cpus = 1
        memory = '8 GB'
        time = '4h'
        container = "file://${params.sif_paths.iqtree}"
      }
      
      withName: IQTREE_AA_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.iqtree}"
      }

      withName: WRITE_ALERAX_MAPPING {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = null
      }

      withName: WRITE_ALERAX_FAMILIES {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = null
      }

      withName: WRITE_ALERAX_MANIFEST {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = null
      }

      withName: RUN_ALERAX {
        cpus = params.alerax_mpi_ranks
        memory = '16 GB'
        time = '12h'
        container = "file://${params.sif_paths.alerax}"
      }

      withName: RUN_ALERAX_RANDOM {
        cpus = params.alerax_mpi_ranks
        memory = '16 GB'
        time = '12h'
        container = "file://${params.sif_paths.alerax}"
      }

      withName: ALERAX_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = null
      }

      withName: EXTRACT_REDIP_SPECIES {
        cpus = 1
        memory = '1 GB'
        time = '30m'
        container = "file://${params.sif_paths.redip}"
      }

      withName: ROOT_GENE_TREE {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.redip}"
      }

      withName: WRITE_BRANCH_DEFS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.redip}"
      }

      withName: CLASSIFY_REDIP_EVENTS {
        cpus = 1
        memory = '8 GB'
        time = '8h'
        container = "file://${params.sif_paths.redip}"
      }

      withName: MAKE_REDIP_LINKS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.redip}"
      }

      withName: PREP_REDIP_CIRCOS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.redip}"
      }

      withName: PLOT_REDIP_CIRCOS {
        cpus = 1
        memory = '8 GB'
        time = '4h'
        container = "file://${params.sif_paths.redip}"
      }

      withName: REDIP_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.redip}"
      }
    }
  }

  cropdiversity {
    docker.enabled = false
    singularity.enabled = false
    apptainer.enabled = true

    params.alerax_mpi_extra_args = '--mca btl self,tcp'
    params.alerax_mpi_n_arg = ''

    apptainer {
      autoMounts = true
    }

    process {
      executor = 'slurm'
      queue = 'short'

      withName: RUN_ANNEVO {
        cpus = 48
        memory = '128 GB'
        queue = 'medium'
        container = "file://${params.sif_paths.annevo}"
      }

      withName: ANNEVO_GFF_TO_FASTA {
        cpus = 4
        memory = '16 GB'
        container = "file://${params.sif_paths.gffutils}"
      }

      withName: PRIMARY_TRANSCRIPT {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: FINALIZE_REPO_IDS {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: STAGE_GENOMEREPO {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: PARSE_ANNOTATIONS_BY_SOURCE {
        cpus = 4
        memory = '16 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: MAKE_PARSE_DONE {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: VALIDATE_PARSE_OUTPUTS {
        cpus = 1
        memory = '2 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: VALIDATE_GENESPACE_RESULTS {
        cpus = 1
        memory = '2 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: ORTHOFINDER_OR_SKIP {
        cpus = 16
        memory = '32 GB'
        queue = 'medium'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: RUN_GENESPACE {
        cpus = 16
        memory = '48 GB'
        queue = 'medium'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: PANGENES_PASS_FILTER {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: COLLAPSE_TANDEMS {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: WRITE_OG_FASTAS {
        cpus = 2
        memory = '8 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: MACSE_ALIGN_OG {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.macse}"
        errorStrategy = 'retry'
        maxRetries = 2
        maxErrors = '-1'
      }

      withName: MACSE_REPORT {
        cpus = 1
        memory = '2 GB'
        container = "file://${params.sif_paths.macse}"
      }

      withName: IQTREE_NT_OG {
        cpus = 1
        memory = '8 GB'
        container = "file://${params.sif_paths.iqtree}"
      }

      withName: IQTREE_NT_REPORT {
        cpus = 1
        memory = '2 GB'
        container = "file://${params.sif_paths.iqtree}"
      }

      withName: WRITE_ALERAX_MAPPING {
        cpus = 1
        memory = '2 GB'
        container = null
      }

      withName: WRITE_ALERAX_FAMILIES {
        cpus = 1
        memory = '2 GB'
        container = null
      }

      withName: WRITE_ALERAX_MANIFEST {
        cpus = 1
        memory = '2 GB'
        container = null
      }

      withName: RUN_ALERAX {
        cpus = 1
        memory = '16 GB'
        queue = 'medium'
        clusterOptions = "--ntasks=${params.alerax_mpi_ranks}"
        container = "file://${params.sif_paths.alerax}"
      }
      
      withName: RUN_ALERAX_RANDOM {
        cpus = 1
        memory = '16 GB'
        queue = 'medium'
        clusterOptions = "--ntasks=${params.alerax_mpi_ranks}"
        container = "file://${params.sif_paths.alerax}"
      }

      withName: ALERAX_REPORT {
        cpus = 1
        memory = '2 GB'
        container = null
      }

      withName: EXTRACT_REDIP_SPECIES {
        cpus = 1
        memory = '1 GB'
        container = "file://${params.sif_paths.redip}"
      }

      withName: ROOT_GENE_TREE {
        cpus = 1
        memory = '2 GB'
        container = "file://${params.sif_paths.redip}"
      }

      withName: WRITE_BRANCH_DEFS {
        cpus = 1
        memory = '2 GB'
        container = "file://${params.sif_paths.redip}"
      }

      withName: CLASSIFY_REDIP_EVENTS {
        cpus = 1
        memory = '8 GB'
        container = "file://${params.sif_paths.redip}"
      }

      withName: MAKE_REDIP_LINKS {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.redip}"
      }

      withName: PREP_REDIP_CIRCOS {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.redip}"
      }

      withName: PLOT_REDIP_CIRCOS {
        cpus = 1
        memory = '8 GB'
        container = "file://${params.sif_paths.redip}"
      }

      withName: REDIP_REPORT {
        cpus = 1
        memory = '2 GB'
        container = "file://${params.sif_paths.redip}"
      }
    }
  }
}
