manifest {
  name            = 'wgd-nextflow'
  author          = 'Brianna Banting'
  homePage        = '.'
  mainScript      = 'main.nf'
  nextflowVersion = '>=23.10.0'
}

// Default parameters for pipeline
params {
  apptainer_dir = "${projectDir}/apptainer"

  working_dir = 'workingDir'
  postdir = 'post_genespace'

  gff_dir = 'gff'
  protein_dir = 'protein'
  cds_dir = 'cds'
  chr_dict_dir = 'chr_dict'
  fasta_dir = 'fasta'

  ext = [
    gff: 'gff3',
    pep: 'pep',
    cds: 'cds',
    fasta: 'fa'
  ]

  orthofinder_bin = 'orthofinder'
  macse_bin = 'macse'
  iqtree_bin = 'iqtree3'
  alerax_bin = 'alerax'
  circos_bin = 'circos'

  start_mode = 'full'
  existing_genespace_wd = null
  existing_orthofinder_dir = null

  force_orthofinder = false
  run_external_orthofinder = true
  orthofinder_analysis_threads = 1

  annotation = [
    run : false,
    tool: 'annevo'
  ]

  annevo = [
    model_path : '',
    batch_size : null,
    extra_args : '',
    cleanup_tmp: true
  ]

  genespace = [
    rawOrthofinderDir: '',
    blkSize: 5,
    orthofinder_in_blk: true
  ]

  require_outgroup_og = true
  collapse_tandems = true
  tandem_max_ord_gap = 2
  array_size = 10000

  use_species_tree_for_orthofinder = false
  use_species_tree_for_alerax = true

  alerax = [
    rec_model: 'UndatedDL',
    model_parametrization: 'PER-SPECIES',
    gene_tree_samples: 100
  ]

  run_rediploidisation = false

  rediploidisation = [
    positions_source: 'bed',
    positions: '',
    position_format: 'auto',
  
    position_has_header: true,
    position_key_column: 'id',
    position_chr_column: 'chr',
    position_start_column: 'start',
    position_end_column: 'end',
    position_species_column: 'genome',
  
    gene_trees_dir: '',
    genespace_wd: '',
  
    species_tree_format: 1,
    gene_tree_format: 1,
    tip_separator: '|',
    label_format: 'species_chr_gene',
    copy_mode: 'target_exactly_n',
    required_copies: 2,
    min_tips: 1,
    position_key_type: 'gene',
    cleanup_tmp: true
  ]
  
  sif_paths = [
    genespace: '',
    macse: '',
    iqtree: '',
    alerax: '',
    annevo: '',
    gffutils: '',
    redip: ''
  ]
  
  containers = [
    annevo: 'ghcr.io/bhban/annevo:1.0',
    gffutils: 'ghcr.io/bhban/gffutils:1.0',
    genespace: 'ghcr.io/bhban/genespace:1.1',
    macse: 'ghcr.io/bhban/macse:1.0',
    iqtree: 'ghcr.io/bhban/iqtree:1.0',
    alerax: 'ghcr.io/bhban/alerax:1.0',
    redip: 'ghcr.io/bhban/redip:1.0'
  ]
}

// Prefer explicit SIF path, then local apptainer/<tool>_1.0.sif, then GHCR image
def useContainer(tool) {
  def explicit_sif = params.sif_paths?.get(tool)?.toString()?.trim()

  if (explicit_sif) {
    return "file://${explicit_sif}"
  }

  def apptainer_dir = file(params.apptainer_dir)

  def local_sifs = apptainer_dir.exists()
    ? apptainer_dir.listFiles()
        .findAll { it.name ==~ /^${tool}_.+\.sif$/ }
        .sort { a, b -> b.name <=> a.name }
    : []

  if (local_sifs) {
    return "file://${local_sifs[0]}"
  }

  def docker_image = params.containers?.get(tool)?.toString()?.trim()

  if (!docker_image) {
    throw new IllegalArgumentException("No container defined for '${tool}'. Set params.sif_paths.${tool} or params.containers.${tool}.")
  }

  return "docker://${docker_image}"
}

process {
  shell = ['/bin/bash', '-euo', 'pipefail']
  errorStrategy = 'terminate'
  maxRetries = 1

  withName: RUN_ANNEVO {
    container = useContainer('annevo')
  }

  withName: ANNEVO_GFF_TO_FASTA {
    container = useContainer('gffutils')
  }

  withName: PRIMARY_TRANSCRIPT {
    container = useContainer('genespace')
  }

  withName: FINALIZE_REPO_IDS {
    container = useContainer('genespace')
  }

  withName: STAGE_GENOMEREPO {
    container = useContainer('genespace')
  }

  withName: PARSE_ANNOTATIONS_BY_SOURCE {
    container = useContainer('genespace')
  }

  withName: MAKE_PARSE_DONE {
    container = useContainer('genespace')
  }

  withName: VALIDATE_PARSE_OUTPUTS {
    container = useContainer('genespace')
  }

  withName: VALIDATE_GENESPACE_RESULTS {
    container = useContainer('genespace')
  }

  withName: ORTHOFINDER_OR_SKIP {
    container = useContainer('genespace')
  }

  withName: RUN_GENESPACE {
    container = useContainer('genespace')
  }

  withName: PANGENES_PASS_FILTER {
    container = useContainer('genespace')
  }

  withName: COLLAPSE_TANDEMS {
    container = useContainer('genespace')
  }

  withName: WRITE_OG_FASTAS {
    container = useContainer('genespace')
  }

  withName: MACSE_ALIGN_OG {
    container = useContainer('macse')
    errorStrategy = 'retry'
    maxRetries = 2
    maxErrors = '-1'
  }

  withName: MACSE_REPORT {
    container = useContainer('macse')
  }

  withName: IQTREE_OG {
    container = useContainer('iqtree')
  }

  withName: IQTREE_REPORT {
    container = useContainer('iqtree')
  }

  withName: WRITE_ALERAX_MAPPING {
    container = useContainer('alerax')
  }

  withName: WRITE_ALERAX_FAMILIES {
    container = useContainer('alerax')
  }

  withName: WRITE_ALERAX_MANIFEST {
    container = useContainer('alerax')
  }

  withName: RUN_ALERAX {
    container = useContainer('alerax')
  }

  withName: RUN_ALERAX_RANDOM {
    container = useContainer('alerax')
  }

  withName: ALERAX_REPORT {
    container = useContainer('alerax')
  }

  withName: EXTRACT_REDIP_SPECIES {
    container = useContainer('redip')
  }
  
  withName: ROOT_GENE_TREE {
    container = useContainer('redip')
  }
  
  withName: WRITE_BRANCH_DEFS {
    container = useContainer('redip')
  }
  
  withName: CLASSIFY_REDIP_EVENTS {
    container = useContainer('redip')
  }
  
  withName: MAKE_REDIP_LINKS {
    container = useContainer('redip')
  }
  
  withName: PREP_REDIP_CIRCOS {
    container = useContainer('redip')
  }
  
  withName: PLOT_REDIP_CIRCOS {
    container = useContainer('redip')
  }
  
  withName: REDIP_REPORT {
    container = useContainer('redip')
  }
}

trace {
  enabled = true
  file = 'trace.txt'
  overwrite = true
}

timeline {
  enabled = true
  file = 'timeline.html'
  overwrite = true
}

report {
  enabled = true
  file = 'report.html'
  overwrite = true
}

executor {
  queueSize = 10000
}

profiles {
  docker {
    docker.enabled = true
    singularity.enabled = false
    apptainer.enabled = false

    process {
      executor = 'local'

      withName: RUN_ANNEVO {
        cpus = 48
        memory = '128 GB'
        time = '48h'
      }

      withName: ANNEVO_GFF_TO_FASTA {
        cpus = 4
        memory = '16 GB'
        time = '4h'
      }

      withName: PRIMARY_TRANSCRIPT {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }

      withName: FINALIZE_REPO_IDS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }

      withName: STAGE_GENOMEREPO {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }

      withName: PARSE_ANNOTATIONS_BY_SOURCE {
        cpus = 4
        memory = '16 GB'
        time = '8h'
      }

      withName: MAKE_PARSE_DONE {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }

      withName: VALIDATE_PARSE_OUTPUTS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: VALIDATE_GENESPACE_RESULTS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: ORTHOFINDER_OR_SKIP {
        cpus = 16
        memory = '128 GB'
        time = '24h'
      }

      withName: RUN_GENESPACE {
        cpus = 16
        memory = '128 GB'
        time = '24h'
      }

      withName: PANGENES_PASS_FILTER {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }

      withName: COLLAPSE_TANDEMS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }

      withName: WRITE_OG_FASTAS {
        cpus = 2
        memory = '8 GB'
        time = '6h'
      }

      withName: MACSE_ALIGN_OG {
        cpus = 1
        memory = '4 GB'
        time = '6h'
      }

      withName: MACSE_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: IQTREE_OG {
        cpus = 4
        memory = '8 GB'
        time = '8h'
      }

      withName: IQTREE_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: WRITE_ALERAX_MAPPING {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: WRITE_ALERAX_FAMILIES {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: WRITE_ALERAX_MANIFEST {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: RUN_ALERAX {
        cpus = 32
        memory = '256 GB'
        time = '48h'
      }

      withName: RUN_ALERAX_RANDOM {
        cpus = 32
        memory = '256 GB'
        time = '48h'
      }

      withName: ALERAX_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: EXTRACT_REDIP_SPECIES {
        cpus = 1
        memory = '1 GB'
        time = '30m'
      }
      
      withName: ROOT_GENE_TREE {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }
      
      withName: WRITE_BRANCH_DEFS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }
      
      withName: CLASSIFY_REDIP_EVENTS {
        cpus = 1
        memory = '8 GB'
        time = '8h'
      }
      
      withName: MAKE_REDIP_LINKS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }
      
      withName: PREP_REDIP_CIRCOS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }
      
      withName: PLOT_REDIP_CIRCOS {
        cpus = 1
        memory = '8 GB'
        time = '4h'
      }
      
      withName: REDIP_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }
    }
  }

  eddie {
    docker.enabled = false
    singularity.enabled = false
    apptainer.enabled = true

    apptainer {
      autoMounts = true
    }

    process {
      executor = 'sge'
      clusterOptions = '-cwd -V'
      penv = 'sharedmem'

      withName: RUN_ANNEVO {
        cpus = 48
        memory = '128 GB'
        time = '48h'
      }

      withName: ANNEVO_GFF_TO_FASTA {
        cpus = 4
        memory = '16 GB'
        time = '4h'
      }

      withName: PRIMARY_TRANSCRIPT {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }

      withName: FINALIZE_REPO_IDS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }

      withName: STAGE_GENOMEREPO {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }

      withName: PARSE_ANNOTATIONS_BY_SOURCE {
        cpus = 4
        memory = '16 GB'
        time = '8h'
      }

      withName: MAKE_PARSE_DONE {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }

      withName: VALIDATE_PARSE_OUTPUTS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: VALIDATE_GENESPACE_RESULTS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: ORTHOFINDER_OR_SKIP {
        cpus = 1
        memory = '32 GB'
        time = '4h'
      }

      withName: RUN_GENESPACE {
        cpus = 1
        memory = '32 GB'
        time = '4h'
      }

      withName: PANGENES_PASS_FILTER {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }

      withName: COLLAPSE_TANDEMS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }

      withName: WRITE_OG_FASTAS {
        cpus = 2
        memory = '8 GB'
        time = '6h'
      }

      withName: MACSE_ALIGN_OG {
        cpus = 1
        memory = '4 GB'
        time = '6h'
      }

      withName: MACSE_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: IQTREE_OG {
        cpus = 1
        memory = '8 GB'
        time = '4h'
      }

      withName: IQTREE_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: WRITE_ALERAX_MAPPING {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: WRITE_ALERAX_FAMILIES {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: WRITE_ALERAX_MANIFEST {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: RUN_ALERAX {
        cpus = 8
        memory = '16 GB'
        time = '12h'
      }

      withName: RUN_ALERAX_RANDOM {
        cpus = 8
        memory = '16 GB'
        time = '12h'
      }

      withName: ALERAX_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }

      withName: EXTRACT_REDIP_SPECIES {
        cpus = 1
        memory = '1 GB'
        time = '30m'
      }
      
      withName: ROOT_GENE_TREE {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }
      
      withName: WRITE_BRANCH_DEFS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }
      
      withName: CLASSIFY_REDIP_EVENTS {
        cpus = 1
        memory = '8 GB'
        time = '8h'
      }
      
      withName: MAKE_REDIP_LINKS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }
      
      withName: PREP_REDIP_CIRCOS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
      }
      
      withName: PLOT_REDIP_CIRCOS {
        cpus = 1
        memory = '8 GB'
        time = '4h'
      }
      
      withName: REDIP_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
      }
    }
  }

  cropdiversity {
    docker.enabled = false
    singularity.enabled = false
    apptainer.enabled = true

    apptainer {
      autoMounts = true
    }

    process {
      executor = 'slurm'
      queue = 'short'

      withName: RUN_ANNEVO {
        cpus = 48
        memory = '128 GB'
        queue = 'medium'
      }

      withName: ANNEVO_GFF_TO_FASTA {
        cpus = 4
        memory = '16 GB'
      }

      withName: PRIMARY_TRANSCRIPT {
        cpus = 1
        memory = '4 GB'
      }

      withName: FINALIZE_REPO_IDS {
        cpus = 1
        memory = '4 GB'
      }

      withName: STAGE_GENOMEREPO {
        cpus = 1
        memory = '4 GB'
      }

      withName: PARSE_ANNOTATIONS_BY_SOURCE {
        cpus = 4
        memory = '16 GB'
      }

      withName: MAKE_PARSE_DONE {
        cpus = 1
        memory = '4 GB'
      }

      withName: VALIDATE_PARSE_OUTPUTS {
        cpus = 1
        memory = '2 GB'
      }

      withName: VALIDATE_GENESPACE_RESULTS {
        cpus = 1
        memory = '2 GB'
      }

      withName: ORTHOFINDER_OR_SKIP {
        cpus = 16
        memory = '32 GB'
        queue = 'medium'
      }

      withName: RUN_GENESPACE {
        cpus = 16
        memory = '32 GB'
        queue = 'medium'
      }

      withName: PANGENES_PASS_FILTER {
        cpus = 1
        memory = '4 GB'
      }

      withName: COLLAPSE_TANDEMS {
        cpus = 1
        memory = '4 GB'
      }

      withName: WRITE_OG_FASTAS {
        cpus = 2
        memory = '8 GB'
      }

      withName: MACSE_ALIGN_OG {
        cpus = 1
        memory = '4 GB'
      }

      withName: MACSE_REPORT {
        cpus = 1
        memory = '2 GB'
      }

      withName: IQTREE_OG {
        cpus = 1
        memory = '8 GB'
      }

      withName: IQTREE_REPORT {
        cpus = 1
        memory = '2 GB'
      }

      withName: WRITE_ALERAX_MAPPING {
        cpus = 1
        memory = '2 GB'
      }

      withName: WRITE_ALERAX_FAMILIES {
        cpus = 1
        memory = '2 GB'
      }

      withName: WRITE_ALERAX_MANIFEST {
        cpus = 1
        memory = '2 GB'
      }

      withName: RUN_ALERAX {
        cpus = 8
        memory = '16 GB'
        queue = 'medium'
      }

      withName: RUN_ALERAX_RANDOM {
        cpus = 8
        memory = '16 GB'
        queue = 'medium'
      }

      withName: ALERAX_REPORT {
        cpus = 1
        memory = '2 GB'
      }

      withName: EXTRACT_REDIP_SPECIES {
        cpus = 1
        memory = '1 GB'
      }
      
      withName: ROOT_GENE_TREE {
        cpus = 1
        memory = '2 GB'
      }
      
      withName: WRITE_BRANCH_DEFS {
        cpus = 1
        memory = '2 GB'
      }
      
      withName: CLASSIFY_REDIP_EVENTS {
        cpus = 1
        memory = '8 GB'
      }
      
      withName: MAKE_REDIP_LINKS {
        cpus = 1
        memory = '4 GB'
      }
      
      withName: PREP_REDIP_CIRCOS {
        cpus = 1
        memory = '4 GB'
      }
      
      withName: PLOT_REDIP_CIRCOS {
        cpus = 1
        memory = '8 GB'
      }
      
      withName: REDIP_REPORT {
        cpus = 1
        memory = '2 GB'
      }
    }
  }
}
