manifest {
  name            = 'wgd-nextflow'
  author          = 'Brianna Banting'
  homePage        = '.'
  mainScript      = 'main.nf'
  nextflowVersion = '>=23.10.0'
}


// Default parameters for pipeline
params {
  working_dir = 'workingDir'
  postdir = 'post_genespace'

  ext = [ gff: 'gff3', pep: 'pep', fasta: 'fa' ]

  orthofinder_bin = 'orthofinder'
  macse_bin = 'macse'
  iqtree_bin = 'iqtree3'
  alerax_bin = 'alerax'

  start_mode = 'full'
  existing_genespace_wd = null
  existing_orthofinder_dir = null

  force_orthofinder = false
  run_external_orthofinder = true
  orthofinder_analysis_threads = 1

  annotation = [
      run : false,
      tool: 'annevo'
  ]
  
  params.fasta_dir = 'fasta'
  
  annevo = [
      model_path : '',
      batch_size : null,
      extra_args : '',
      cleanup_tmp: true
  ]

  genespace = [
    rawOrthofinderDir: '',
    blkSize: 5,
    orthofinder_in_blk: true
  ]

  require_outgroup_og = true
  collapse_tandems = true
  tandem_max_ord_gap = 2
  array_size = 10000

  use_species_tree_for_orthofinder = false
  use_species_tree_for_alerax = true

  alerax = [
    rec_model: 'UndatedDL',
    model_parametrization: 'PER-SPECIES',
    gene_tree_samples: 100
  ]

  sif_paths = [
    genespace: '',
    macse: '',
    iqtree: '',
    alerax: ''
  ]

  containers = [
    annevo: 'ghcr.io/bhban/annevo:1.0',
    genespace: 'ghcr.io/bhban/genespace:1.1',
    macse: 'ghcr.io/bhban/macse:1.0',
    iqtree: 'ghcr.io/bhban/iqtree:1.0',
    alerax: 'ghcr.io/bhban/alerax:1.0'
  ]
}


process {
  shell = ['/bin/bash', '-euo', 'pipefail']
  errorStrategy = 'terminate'
  maxRetries = 1
}

trace {
  enabled = true
  file = 'trace.txt'
  overwrite = true
}

timeline {
  enabled = true
  file = 'timeline.html'
  overwrite = true
}

report {
  enabled = true
  file = 'report.html'
  overwrite = true
}

executor {
  queueSize = 10000
}



// Profile available for pipeline
profiles {
  docker {
    docker.enabled = true
    singularity.enabled = false

    process {
      executor = 'local'

      withName: RUN_ANNEVO {
        cpus = 48
        memory = '128 GB'
        time = '48h'
        container = params.annevo.container
      }
  
      withName: ANNEVO_GFF_TO_FASTA {
        cpus = 4
        memory = '16 GB'
        time = '4h'
        container = params.annevo.container
      }

      withName: PRIMARY_TRANSCRIPT {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = params.containers.genespace
      }

      withName: FINALIZE_REPO_IDS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = params.containers.genespace
      }

      withName: STAGE_GENOMEREPO {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = params.containers.genespace
      }

      withName: PARSE_ANNOTATIONS_BY_SOURCE {
        cpus = 4
        memory = '16 GB'
        time = '8h'
        container = params.containers.genespace
      }

      withName: MAKE_PARSE_DONE {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: VALIDATE_PARSE_OUTPUTS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = params.containers.genespace
      }

      withName: ORTHOFINDER_OR_SKIP {
        cpus = 16
        memory = '128 GB'
        time = '24h'
        container = params.containers.genespace
      }

      withName: RUN_GENESPACE {
        cpus = 16
        memory = '128 GB'
        time = '24h'
        container = params.containers.genespace
      }

      withName: PANGENES_PASS_FILTER {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = params.containers.genespace
      }

      withName: COLLAPSE_TANDEMS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = params.containers.genespace
      }

      withName: WRITE_OG_FASTAS {
        cpus = 2
        memory = '8 GB'
        time = '6h'
        container = params.containers.genespace
      }

      withName: MACSE_ALIGN_OG {
        cpus = 1
        memory = '4 GB'
        time = '6h'
        container = params.containers.macse
        errorStrategy = 'retry'
        maxRetries = 2
        maxErrors = '-1'
      }

      withName: MACSE_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = params.containers.macse
      }

      withName: IQTREE_OG {
        cpus = 4
        memory = '8 GB'
        time = '8h'
        container = params.containers.iqtree
      }

      withName: IQTREE_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = params.containers.iqtree
      }

      withName: WRITE_ALERAX_MAPPING {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = params.containers.alerax
      }

      withName: WRITE_ALERAX_FAMILIES {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = params.containers.alerax
      }

      withName: RUN_ALERAX {
        cpus = 32
        memory = '256 GB'
        time = '48h'
        container = params.containers.alerax
      }
    }
  }

  eddie {
    docker.enabled = false
    singularity.enabled = false
    apptainer.enabled = true

    apptainer {
      autoMounts = true
    }

    process {
      executor = 'sge'
      clusterOptions = '-cwd -V'
      penv = 'sharedmem'

      withName: PRIMARY_TRANSCRIPT {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: FINALIZE_REPO_IDS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: STAGE_GENOMEREPO {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: PARSE_ANNOTATIONS_BY_SOURCE {
        cpus = 4
        penv = 'sharedmem'
        memory = '16 GB'
        time = '8h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: MAKE_PARSE_DONE {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: VALIDATE_PARSE_OUTPUTS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: ORTHOFINDER_OR_SKIP {
        cpus = 1
        memory = '32 GB'
        time = '4h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: RUN_GENESPACE {
        cpus = 1
        memory = '32 GB'
        time = '4h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: PANGENES_PASS_FILTER {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: COLLAPSE_TANDEMS {
        cpus = 1
        memory = '4 GB'
        time = '2h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: WRITE_OG_FASTAS {
        cpus = 2
        penv = 'sharedmem'
        memory = '8 GB'
        time = '6h'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: MACSE_ALIGN_OG {
        cpus = 1
        memory = '4 GB'
        time = '6h'
        container = "file://${params.sif_paths.macse}"
        errorStrategy = 'retry'
        maxRetries = 2
        maxErrors = '-1'
      }

      withName: MACSE_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.macse}"
      }

      withName: IQTREE_OG {
        cpus = 1
        memory = '8 GB'
        time = '4h'
        container = "file://${params.sif_paths.iqtree}"
      }

      withName: IQTREE_REPORT {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.iqtree}"
      }

      withName: WRITE_ALERAX_MAPPING {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.alerax}"
      }

      withName: WRITE_ALERAX_FAMILIES {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        container = "file://${params.sif_paths.alerax}"
      }

      withName: RUN_ALERAX {
        cpus = 8
        penv = 'sharedmem'
        memory = '16 GB'
        time = '12h'
        container = "file://${params.sif_paths.alerax}"
      }
    }
  }

 cropdiversity {
    docker.enabled = false
    singularity.enabled = false
    apptainer.enabled = true

    apptainer {
      autoMounts = true
    }

    process {
      executor = 'slurm'
      queue = 'short'

      withName: PRIMARY_TRANSCRIPT {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: FINALIZE_REPO_IDS {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: STAGE_GENOMEREPO {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: PARSE_ANNOTATIONS_BY_SOURCE {
        cpus = 4
        memory = '16 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: MAKE_PARSE_DONE {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: VALIDATE_PARSE_OUTPUTS {
        cpus = 1
        memory = '2 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: ORTHOFINDER_OR_SKIP {
        cpus = 16
        memory = '32 GB'
        queue = 'medium'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: RUN_GENESPACE {
        cpus = 16
        memory = '32 GB'
        queue = 'medium'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: PANGENES_PASS_FILTER {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: COLLAPSE_TANDEMS {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: WRITE_OG_FASTAS {
        cpus = 2
        memory = '8 GB'
        container = "file://${params.sif_paths.genespace}"
      }

      withName: MACSE_ALIGN_OG {
        cpus = 1
        memory = '4 GB'
        container = "file://${params.sif_paths.macse}"
        errorStrategy = 'retry'
        maxRetries = 2
        maxErrors = '-1'
      }

      withName: MACSE_REPORT {
        cpus = 1
        memory = '2 GB'
        container = "file://${params.sif_paths.macse}"
      }

      withName: IQTREE_OG {
        cpus = 1
        memory = '8 GB'
        container = "file://${params.sif_paths.iqtree}"
      }

      withName: IQTREE_REPORT {
        cpus = 1
        memory = '2 GB'
        container = "file://${params.sif_paths.iqtree}"
      }

      withName: WRITE_ALERAX_MAPPING {
        cpus = 1
        memory = '2 GB'
        container = "file://${params.sif_paths.alerax}"
      }

      withName: WRITE_ALERAX_FAMILIES {
        cpus = 1
        memory = '2 GB'
        container = "file://${params.sif_paths.alerax}"
      }

      withName: RUN_ALERAX {
        cpus = 8
        memory = '16 GB'
        queue = 'medium'
        container = "file://${params.sif_paths.alerax}"
      }
    }
  }
}
